.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  cursor: pointer;
}

.App-navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 50px;
  padding: 30px;
}

.nav-links {
  width: 15%;
  display: flex;
  flex-direction: row;
}

.link {
  padding-left: 10%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.App-header {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 450px;
  width: 100%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.guess-container {
  flex: 1;
  width: 100%;
  align-self: center;
}

.google-login {
  color: white;
  background-color: #DB4937;
  padding: 13px 22px;
  line-height: 1.57142857;
  border: none;
}
.google-login:disabled {
  opacity: .65;
}

.facebook-login {
  color: white;
  background-color: #3b5998;
  padding: 13px 22px;
  line-height: 1.57142857;
  border: none;
}
.facebook-login:disabled {
  opacity: .65;
}

.gif-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%
}

.finished-gif {
  height: 50%;
  width: 50%;
  opacity: 0.7;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding: 5;
}

.styles_modal__gNwvD {
  margin-top: 20%;
  height: 55%;
  width: 100%
}

.divider {
  width: 80%;
  border-bottom: 1px;
  border-left-color: #222;
  border-right-color: #222;
  border-top-color: #222;
  border-style: solid;
  border-bottom-color: white;
  margin-left: 2%;
  margin-right: 2%;
}

.stat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.stat {
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  width: 100%;
  padding-bottom: 5%;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
  .nav-links {
    width: 40%;
    display: flex;
    flex-direction: row;
  }
  
}